
<h1>{{title}}</h1>
<div class="row">
  <div class="col">
    <input class="form-control"
      [(ngModel)]="key"
    placeholder="كلمة البحث هنا.." 
    (keyup)="search()"
    type="text">
  </div>
  <div class="col">
    {{ps.myobject}}
    <button class="btn btn-success" (click)="search()">
      بحث
    </button>

    {{key}}
  </div>
</div>
<table   class="table">
    <thead>
      <tr>
        <th scope="col">رقم المنتج</th>
        <th scope="col">العمليات</th>
        <th scope="col">الاسم</th>
        <th scope="col">كود المنتج</th>
        <th scope="col">تاريخ الاصدار</th>
        <th scope="col">السعر</th>
        <th scope="col">التقييم</th>
        <th scope="col">
        <button class="btn btn-primary"
         (click)="ShowImages($event)">
            {{showimages?"اخفي":"اظهر"}} الصور
        </button>
        </th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <th scope="row">{{item.productId}}</th>
        <th scope="row"><button (click)="opentProduct(item.productId)" class="btn btn-info btn-sm">التفاصيل</button></th>
        <td ><a [routerLink]="['/products','details',item.productId]" routerLinkActive="router-link-active" >{{item.productName}}</a> </td>
        <td>{{item.productCode | lowercase|reverse}}</td>
        <td>{{item.releaseDate | date:"yyyy-MM-dd"}}</td>
        <td>{{item.price| currency:'USD':'symbol':'1.2-2'}}</td>
        <td>
        {{item.starRating}}
          <app-rating [(ratingNumber)]='item.starRating' (ratingClicked)="rating(item,$event)"
          (ratingChange)="ratingChange(item,$event);"
          ></app-rating>
        </td>
        <td>
          <img 
          *ngIf="showimages"
          [src]="item.imageUrl"
            [class.img-thumbnail]="item.productId==2"
            [alt]="item.productName" [style.width.px]="imageWidth"  [style.margin.px]="imageMargin"></td>
      
      </tr>
    <tr><td class="text-center" colspan="4">الاجمالي</td><td colspan="2">{{products|sum:'price'|currency:'USD':'symbol':'1.2-2'}}</td></tr>
    </tbody>
  </table>
  