/* You can add global styles to this file, and also import other style files */
body{
    direction: rtl;
    text-align: right;
}
form .ng-invalid{
border-right: 5px solid red;
}

form .ng-valid{
    border-right:5px solid green;
}